body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #F4D03F;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header img {
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
} */

header .logo{
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}
.menu a:hover{
    color: #fff;
}

.search-cart {
    /* display: flex; */
    gap: 5px;
    align-items: center;
    margin-right: 100px;
}

.search-cart img {
    height: 10px;
}

.profile {
    /* margin-left: -170px; */
    margin-right: 100px;
}

.profile img {
    height: 40px;
}

/* .kart img {
    height: 45px;
} */

/* .header a .kart{
    height: 35px;
    cursor: pointer;
} */

.kart a img{
    height: 45px;
}

.slider {
    overflow: hidden;
}

.slider input {
    display: none;
}

.slider-area {
    width: 200%;
    display: flex;
    transition: all ease .5s;
}

.slider-item {
    width: 100%;
}

.slider-item img {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.slider-nav label {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border: .2rem solid #8B4513;
    transition: all ease .5s;
}

.banner {
    height: 500px;
    margin: 0;
}

.banner img {
    width: 100%;
    height: 500px;
}

#slider-1:checked~.slider-area {
    margin-left: 0%;
}

#slider-2:checked~.slider-area {
    margin-left: -100%;
}

#slider-1:checked~.slider-nav .n1 {
    background-color: #8B4513;
}

#slider-2:checked~.slider-nav .n2 {
    background-color: #8B4513;
}

.produtos-section {
    text-align: center;
    margin: 20px;
    margin-bottom: 100px;
}

.produtos-section h1 {
    color: #8B4513;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.produto {
    height: 375px;
    width: 310px;
    background-color: #F4D03F;
    border-radius: 10px;
}

.produto a {
    text-decoration: none;
}

.produto img {
    margin-top: 5px;
    background-color: #ccc;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.produto p {
    margin-top: 5px;
    color: #8B4513;
    font-size: 20px;
    font-weight: bold;
}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.rodape {
    text-align: center;
    background-color: #000;
    padding: 1rem 1rem;
}

.rodape p {
    margin-top: 50px;
    color: #F4D03F;
    font-weight: bold;
    font-size: 20px;
}

.social {
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.social img {
    margin-right: 40px;
    margin-left: 40px;
}
@media(width>820px){
    header {
        display: none;
    }
    header .menu{
        display: flex;
    }
}
