body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #F4D03F;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}

.search-cart {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 100px;
}

.search-cart img {
    height: 10px;
}
.profile{
    margin-left: -100px;
    margin-right: 50px;
}
.profile img{
    height: 50px;
}
.kart img{
    height: 60px;
}

.banner {
    height: 500px;
    margin: 0;
}
.banner img{
    width: 100%;
    height: 500px;
}
.produtos-section {
    text-align: center;
    margin: 20px;
    margin-bottom: 100px;
}

.produtos-section h1 {
    color: #8B4513;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.produto {
    height: 345px;
    width: 310px;
    background-color:#F4D03F;
}
.produto img{
    margin-top: 4px ;
    background-color: #ccc;
    width: 300px;
    height: 300px;

}
.produto p{
    margin-top: 5px;
    
    color: #8B4513;
    font-size: 20px;
    font-weight: bold;
}
.rodape{
    text-align: center;
    background-color: #000;
    padding: 4rem 1rem;
}
.rodape p{
    margin-top:-20px;
    color: #F4D03F;
    font-weight: bold;
}