body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #F4D03F;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header img {
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
} */

.logo{
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}

.search-cart {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 100px;
}

.search-cart img {
    height: 10px;
}

.profile {
    margin-left: -170px;
    margin-right: 100px;
}

.profile img {
    height: 40px;
}

.kart img {
    height: 45px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}
.cart-container {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #8c4333;
    margin-bottom: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    margin-left: 50px;
}

.cart-item-info {
    flex: 1;
    margin-left:100px;
}

.cart-item-info h3 {
    margin-bottom: 10px;
}

.cart-item-info p {
    font-weight: bold;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-actions button {
    background-color: #8B4513;
    color: #F4D03F;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.cart-item-actions button:hover{
        background-color: #F4D03F;
        color: #8B4513;
}

.cart-item-actions .quantity {
    display: flex;
    align-items: center;
}

.cart-item-actions .quantity span {
    margin: 0 10px;
    font-size: 18px;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.summary p {
    font-size: 18px;
    color: #333;
}

.summary button {
    background-color: #F7D45A;
    color: #8c4333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.summary button:hover{
    background-color: #8B4513;
    color: #F4D03F;
}
.rodape {
    text-align: center;
    background-color: #000;
    padding: 1rem 1rem;
}

.rodape p {
    margin-top: 50px;
    color: #F4D03F;
    font-weight: bold;
    font-size: 20px;
}

.social {
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.social img {
    margin-right: 40px;
    margin-left: 40px;
}