body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #F4D03F;
    padding: 15px;
    display: flex;
    align-items: center;
}

header .logo{
    height: 150px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

header .menu  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
header .linha{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    margin-left: 20%;
}
.menu a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}
.menu a:hover{
    color: #fff;
}

.search-cart {
    /* display: flex; */
    gap: 5px;
    align-items: center;
    margin-right: 100px;
}

.search-cart img {
    height: 10px;
}

.profile {
    /* margin-left: -170px; */
    margin-right: 100px;
}

.profile img {
    height: 40px;
}

header .kart{
    height: 45px;
}
header .ellipse{
    height: 45px;
}

.container{
    text-align: center;
    align-items: center;
}
.container h1{
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}
.buttons {
            display: flex;
            gap:315px;
            margin-bottom: 30px;
            margin-top: 30px;
            display: row;
            justify-content: center;
        }

        .buttons a {
            background-color: #F4D03F;
            border-radius: 15px;
            padding: 10px 20px;
            color: #8B4513;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s, color 0.3s;
            text-decoration: none;
            font-weight: bold;
            border-color:  #F4D03F;
        }

        .buttons a:hover {
            background-color: #8B4513;
            border-color: #8B4513;
            color: #F4D03F;
        }
        .produtos {
            display: flex;
            flex-direction: column; /* Exibe os itens em coluna por padrão (mobile) */
            gap: 20px;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin-bottom: 100px;
        }
        .produto {
            height: 375px;
            width: 310px;
            background-color:#F4D03F;
            border-radius: 10px;
        }
        .produto a{
            text-decoration: none;
        }
        .produto img{
            margin-top: 5px ;
            background-color: #ccc;
            width: 300px;
            height: 300px;
            margin-left: 5px;
            border-radius: 10px;
        }
        .produto p{
            margin-top: 5px;
            color: #8B4513;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        .rodape{
            text-align: center;
            background-color: #000;
            padding: 1rem 1rem;
        }
        .rodape p{
            margin-top:50px;
            color: #F4D03F;
            font-weight: bold;
            font-size: 20px;
        }
        .social{
            margin-top: 20px;
            justify-content: space-between;
            align-items: center;
        }
        .social img{
            margin-right: 40px;
            margin-left: 40px;
        }
        .menu-items {
            display: flex;
            align-items: center;
            gap: 75px;
        }
        
        /* Esconde o menu hambúrguer e exibe o menu completo em telas maiores */
        .menu-hamburger {
            display: none;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
        }
        
        .menu-hamburger span {
            display: block;
            width: 30px;
            height: 6px;
            background-color: #fff;
            border-radius: 2px;
        }
@media (min-width: 600px) {
        .produtos {
            flex-direction: row; /* Exibe os itens em linha para telas maiores */
            flex-wrap: wrap; /* Permite que itens "quebrem" linha se necessário */
            gap: 100px;
            justify-content: space-around;
        }
        header .logo{
            height: 140px;
            margin-left: 25px;
        }
    }
@media (max-width: 600px) {
    .menu-items {
        display: none; /* Esconde o menu completo */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff6df;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        gap: 20px;
        box-shadow: #000;
    }
    .menu-hamburger {
        display: flex; /* Exibe o ícone de hambúrguer */
        margin-left: 40px;
    }
    /* .kart a img{
        margin-left: 10000px;
    } */

    /* Mostra o menu ao clicar no ícone */
    .menu-items.active {
        display: flex;
    }
    .buttons {
        display: flex;
        display: row;
        justify-content: center;
        gap: 20px;
    }
    .produtos{
        gap: 
    }
}
.buttons {
    display: flex;
    display: row;
    justify-content: center;
    gap: 20px;
}