body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #F4D03F;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}
.search-cart {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 100px;
}

.search-cart img {
    height: 10px;
}
.profile{
    margin-left: -170px;
    margin-right: 100px;
}
.profile img{
    height: 40px;
}
.kart img{
    height: 45px;
}
.produtos {
    margin: 0;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 300px;
}

.product-images {
    text-align:left;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: #8B4513;
    width: 545px;
    height: 620px;
}

.main-image {
    width: 500px;
    height: 500px;
    background-color: #ddd;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 70px;
    height: 70px;
    background-color: #ddd;
    margin-bottom: 10px;
    margin-left: 20px;
}

.product-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -750px;
    margin-bottom: 200px;
}

.product-name {
    font-size: 50px;
    color: #8B4513;
    margin: 0;
    margin-left: 150px;
    
}

.product-price {
    font-size: 50px;
    color: #000;
    margin-bottom: 150px;
    margin-left: -70px;

}
.buttons{
    flex-direction: row;
    justify-content: center;
}
.buy-button {
    align-self: center;
    background-color: #F4D03F;
    color: #8B4513;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 270px;
    height: 110px;
    border: #F4D03F;
    border-radius: 20px;
}

.quantity-control {
    align-self: center;
    margin-bottom: 50px;
    margin-left: 700px;
    margin-top: -120px;
}

.quantity-btn {
    background-color: #8B4513;
    color: #F4D03F;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 110px;
    height: 110px;
    font-size: 40px;
}

.quantity {
    margin: 0 10px;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.product-description {
    font-size: 30px;
    color: #666;
    text-align: center;
    margin-left: -20%;
}
.rodape{
    text-align: center;
    background-color: #000;
    padding: 1rem 1rem;
}
.rodape p{
    margin-top:50px;
    color: #F4D03F;
    font-weight: bold;
    font-size: 20px;
}
.social{
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.social img{
    margin-right: 40px;
    margin-left: 40px;
}
