body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #F4D03F;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
    font-size: 25px;
}

.search-cart {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 100px;
}

.search-cart img {
    height: 10px;
}

.profile {
    margin-left: -170px;
    margin-right: 100px;
}

.profile img {
    height: 40px;
}

.kart img {
    height: 45px;
}
.contatos{
    text-align: center;
    margin: 20px;
    margin-bottom: 100px;
}    
.contatos h1 {
    font-size: 24px;
    color: #8B4513;
    margin-bottom: 20px;
    margin-top: 40px;
    }
    
.contatos form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.contatos label{
    margin-bottom: 5px;
    text-align: left;
    color: #8B4513;
    width: 1000px;
    }
    .contatos .email{
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #8B4513;
        border-radius: 5px;
        width: 1000px;
        height: 50px;
        }
   
.contatos .mensagem{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8B4513;
    border-radius: 5px;
    width: 1000px;
    height: 200px;
    }
    
.contatos button{
    width: 100px;
    background-color: #8B4513;
    color: white;
    border-color: #8B4513;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    height: 30px;
    }
    
 .contatos button:hover {
    background-color: white;
    border-color: #8B4513;
    color: #8B4513;
    }

    .rodape {
        text-align: center;
        background-color: #000;
        padding: 1rem 1rem;
    }
    
    .rodape p {
        margin-top: 50px;
        color: #F4D03F;
        font-weight: bold;
        font-size: 20px;
    }
    
    .social {
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
    }
    
    .social img {
        margin-right: 40px;
        margin-left: 40px;
    }